<!DOCTYPE html>
<html>
<head>
    <title>KoKa36 Veranstaltungen</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/kokagrabber.css">
    <script type="text/javascript" src="js/filters.js"></script>
</head>
<body>

<header>
    <a href="/"><h1>KoKaGrabber</h1></a>

    <fieldset class="filters">
        <legend>Filter</legend>
        <button id="filter_new" class="new">nur neue</button>
        <button id="filter_hilight" class="hilight">nur gemerkte</button>
    </fieldset>

    <fieldset class="sort">
        <legend>Sortierung</legend>
        <button id="sort_name" class="active">nach Name</button>
        <button id="sort_date">nach Datum</button>
    </fieldset>

    <div>(Stand: %%%LASTUPDATE%%%)</div>

    <a href="/?force_refresh=1" class="refresh">&#128472; Aktualisierung</a>
</header>

<ul class="events">
    %%%EVENTS%%%
</ul>
</body>
</html>