<!DOCTYPE html>
<html>
	<head>
		<title>KoKa36 Veranstaltungen</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles/kokagrabber.css">
		<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="js/filters.js"></script>
	</head>
	<body>

		<header>
		    <a href="/"><h1>KoKaGrabber</h1></a>

		    <a href="/?force_refresh=1" class="refresh">&#128472; Aktualisierung</a>

			<ul class="filters">
				<li id="filter_new" class="new"><a href="#">nur neue Veranstaltungen</a></li>
				<li id="filter_hilight" class="hilight"><a href="#">nur gemerkte Veranstaltungen</a></li>
			</ul>
		</header>

		<ul class="events">
		%%%EVENTS%%%
		</ul>
	</body>
</html>