* {
	font-size: 12px;
	padding: 0;
	margin: 0;
}

header {
	padding: 10px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .3);
	background: #f6f6f6;
	z-index: 5;
}

header:after {
	content:"";
	clear: both;
	display: block;
}

header h1 {
	float: left;
	font-size: 20px;
	margin-right: 20px;
	vertical-align: middle;
	font-family: sans-serif;
}

header .refresh {
  display: block;
  float: right;
  font-size: 20px;
}

.filters li.active {
	outline: 2px solid #c00;
}


body {
	padding: 55px 0 10px 10px;
}

ul {
	-moz-column-width: 250px;
	-moz-column-gap: 10px;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	text-transform: uppercase;
	background: #eee;
	max-width: 250px;
	overflow: hidden;
	margin-bottom: 1px;
}

li:nth-of-type(2n-1) {
	background: #ccc;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li a {
  display: block;
  padding: 3px 10px;
  min-height: 15px;
}

.events li {
	position: relative;
	padding-left: 10px;
}

.events li:before {
	content: '';
	position: absolute;
	left: 0;
	width: 10px;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .3);
	cursor: pointer;
	border-right: 1px solid #fff;
}

li.new {
	background: #9f9;
}

li.new:before {
	background: #0c0;
}

li.hilight a,
li.new a {
	font-weight: bold;
}

li.old a {
	color: #999;
}

li.hilight {
	background: #f96;
}

li.hilight:before,
li:hover:before {
	background: #c00;
}